# === Project Specifics ===
# Ignore the screenshots and JSONs
src/resources/images/*
src/resources/jsons/*

# Ignore local configuration (since it contains local machine paths)
settings.toml

# === Python Junk ===
__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/
ENV/

# === Distribution / Build ===
dist/
build/
*.egg-info/

# === Editor Specifics ===
# VS Code
.vscode/
# PyCharm
.idea/

# === Operating System ===
.DS_Store
Thumbs.db